.filtered-benchmark-header {
    margin: 20px 20px 20px 20px;
}

.benchmark-emphases{
    margin-bottom: 0;
}

.benchmark-definition {}

.benchmark-examples {
    margin-bottom: 0;
}

.benchmark-clarifications {
    margin-bottom: 0;
}
